name: Docker Image CI

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=0x8861/nginx-le
          RELEASE_VERSION=${GITHUB_REF:10}
          SHORT_SHA=${GITHUB_SHA::8}
          TAGS="${DOCKER_IMAGE}:latest,${DOCKER_IMAGE}:stable,${DOCKER_IMAGE}:${RELEASE_VERSION},${DOCKER_IMAGE}:sha-${SHORT_SHA}"
          echo ::set-output name=tags::${TAGS}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./server/Dockerfile.prod
          pull: true
          push: true
          cache-from: type=registry,ref=0x8861/nginx-le:stable
          cache-to: type=inline
          tags: ${{ steps.prep.outputs.tags }}
